<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Upload single file</title>
</head>

<body>
    <div class="container text-secondary">
        <%- include('./partial/nav'); %>

        <div class="row mt-5">
            <div class="col-lg-6 offset-lg-3 mt-5">

                <% if(msg){ %>
                <div class="alert alert-danger" role="alert">
                    <%= msg ? msg : ''; %>
                </div>
                <% } %>



                <form action="" method="post" enctype="multipart/form-data">
                    <h3 class="mb-0 text-primary">Multi Fields upload</h3>
                    <small>hanya menerima file dengan ektensi jpeg / jpg / png
                        <span class="text-warning">*max size 1mb</span>
                    </small>

                    <div class="form-group d-flex mt-4">
                        <input type="file" class="form-control-file btn btn-secomdary" name="img1">
                    </div>
                    <div class="form-group d-flex mt-4">
                        <input type="file" class="form-control-file btn btn-secomdary" name="img2">
                    </div>
                    <button type="submit" class="btn btn-primary">upload</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>