<nav class="breadcrumb d-flex flex-row justify-content-end">
    <a class="breadcrumb-item text-secondary text-decoration-none" href="/">single upload</a>
    <a class="breadcrumb-item text-secondary text-decoration-none" href="/multi-files">upload multi files</a>
    <a class="breadcrumb-item text-secondary text-decoration-none" href="/multi-fields">upload multi fields</a>
</nav>